<div class="footer-container">
  <!-- Logo -->
  <!-- Social Media Links -->
  <div class="footer-socials">
    <a
      href="{{ .Site.Params.facebookLink }}"
      target="_blank"
      class="footer-social-link"
    >
      <i class="fa fa-facebook" title="Facebook"></i>
    </a>
    <a
      href="{{ .Site.Params.instagramLink }}"
      target="_blank"
      class="footer-social-link"
    >
      <i class="fa fa-instagram" title="Instagram"></i>
    </a>
  </div>

  <!-- Copyright Section -->
  <p class="footer-copyright">Copyright {{ now.Year }}. All rights reserved.</p>
</div>
